{% load wagtailimages_tags %}

<body>
  <div id="header" class="header">
    <div class="header-wrapper">
      <div class="header-logo">
        <a href={{ self.header_logo_url }} target="_blank" class="header-logo-link">
          {% image self.header_logo max-200x200 preserve-svg class="header-logo-img" %}
        </a>
        <div class="header-products">
          <p class="text-bold">Products</p>
          <img
            src="https://assets.www.happyfox.com/v2/images/site-nav/menu-togle-arrow-gray-up.png"
            alt="arrow-down"
            class="arrow-down"
          />
        </div>
      </div>
      <a href="#">
        <p class="header-login-cta">{{ self.header_cta }}</p>
      </a>
    </div>
  </div>

  <div class="header-expand-products-wrapper">
    <div class="header-expand-products">
      {% for item in self.header_products %}
        <a class="header-expand-products-item" target="_blank" href={{ item.product_url }}>
          <div>
            <img
              src={{ item.product_image_url }}
              class="header-products-icon"
              alt="icon"
            />
          </div>
          <div>
            <p class="title">{{ item.product_title }}</p>
            <p class="description">
              {{ item.product_description }}
            </p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
