<body>
<div class="navbar-features-expand-container">
    <div class="navbar-features-expand-wrapper">
      <div class="navbar-features-expand-column">
        <div><p class="navbar-features-expand-category">OVERVIEW</p></div>
        <div>
          <div class="navbar-expand-feature">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="15"
              class="hf-productnav__feature-icon"
              viewBox="0 0 15 15"
            >
              <g fill="none" fill-rule="evenodd">
                <path d="M0 0L15 0 15 15 0 15z"></path>
                <path
                  fill="#6C50BA"
                  fill-rule="nonzero"
                  d="M4.43 5.345c.29-.463.631-.891 1.018-1.277C7.44 2.075 10.28 1.508 12.57 2.43c.921 2.289.355 5.13-1.638 7.122-.396.396-.824.736-1.277 1.018l.088 1.495c.008.133-.08.253-.209.285l-2.567.642c-.083.02-.17.002-.238-.05-.067-.053-.106-.134-.106-.219v-1.766c0-.147-.058-.288-.162-.392L4.435 8.54c-.104-.104-.245-.162-.392-.162H2.277c-.085 0-.166-.04-.218-.106-.053-.068-.071-.155-.05-.238l.64-2.567c.033-.13.153-.217.286-.21l1.495.089zM8.19 6.81c.433.433 1.134.433 1.567 0 .433-.433.433-1.134 0-1.567-.433-.433-1.134-.433-1.567 0-.433.433-.433 1.134 0 1.567z"
                ></path>
              </g>
            </svg>
            <div>
              <p class="navbar-expand-features-title">Help Desk Tour</p>
              <p class="navbar-expand-features-description">
                Provide faster and better support for your customers
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="navbar-expand-feature">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="15"
              class="hf-productnav__feature-icon"
              viewBox="0 0 15 15"
            >
              <g fill="none" fill-rule="evenodd">
                <path d="M0 0L15 0 15 15 0 15z"></path>
                <path
                  fill="#1A7DFD"
                  fill-rule="nonzero"
                  d="M7.5 8.75v5h-5c0-2.761 2.239-5 5-5zm3.75 4.688l-1.837.965.35-2.045-1.485-1.449 2.054-.298.918-1.861.919 1.86 2.053.3-1.486 1.448.35 2.045-1.836-.966zM7.5 8.125c-2.072 0-3.75-1.678-3.75-3.75S5.428.625 7.5.625s3.75 1.678 3.75 3.75-1.678 3.75-3.75 3.75z"
                ></path>
              </g>
            </svg>
            <div>
              <p class="navbar-expand-features-title">Get a Demo</p>
              <p class="navbar-expand-features-description">
                See HappyFox Helpdesk in action
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-features-expand-column">
        <div><p class="navbar-features-expand-category">FEATURES</p></div>
        <div class="navbar-features-expand-column">
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#6C50BA"
                    fill-rule="nonzero"
                    d="M1.875 8.125h11.25v5.001c0 .345-.278.624-.62.624H2.494c-.164 0-.323-.066-.439-.183-.116-.117-.181-.276-.181-.44V8.124zm0-6.251c0-.345.278-.624.62-.624h10.01c.342 0 .62.279.62.624v5.001H1.875V1.874zm4.75 1.251v1.25h4.75v-1.25h-4.75zm0 6.875v1.25h4.75V10h-4.75zm-3-6.875v1.25h1.75v-1.25h-1.75zm0 6.875v1.25h1.75V10h-1.75z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">Ticketing System</p>
                <p class="navbar-expand-features-description">
                  Deliver exceptional customer service with HappyFox
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#588DF8"
                    fill-rule="nonzero"
                    d="M1.25 5.621c0-.994.394-1.948 1.098-2.65C3.05 2.266 4.006 1.872 5 1.874h5c2.07 0 3.75 1.684 3.75 3.746v7.504H5c-2.07 0-3.75-1.684-3.75-3.746V5.62zm7.5 1.254v1.25H10v-1.25H8.75zm-3.75 0v1.25h1.25v-1.25H5z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">Canned Actions</p>
                <p class="navbar-expand-features-description">
                  Respond faster using templated responses and actions
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#2FCA29"
                    fill-rule="nonzero"
                    d="M13.125 1.87v11.26c-.003.342-.28.618-.62.62H2.494c-.342 0-.62-.277-.62-.62V1.87c.003-.342.28-.618.62-.62h10.01c.342 0 .62.278.62.62zM7.058 8.201L5.511 6.654l-.883.884 2.43 2.43 3.536-3.535-.884-.884-2.652 2.652z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">Task Management</p>
                <p class="navbar-expand-features-description">
                  Create and manage all the tasks involved in resolving a
                  ticket
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#438AD8"
                    fill-rule="nonzero"
                    d="M6.875 1.281v6.844h6.844c-.313 3.158-2.978 5.625-6.219 5.625-3.452 0-6.25-2.798-6.25-6.25 0-3.24 2.467-5.906 5.625-6.219zm1.25 0c2.957.298 5.296 2.637 5.594 5.594H8.125V1.281z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">Help Desk Reports</p>
                <p class="navbar-expand-features-description">
                  Monitor, Analyze and Improve your Customer Support.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#07C6CB"
                    fill-rule="nonzero"
                    d="M12.5 13.75h-10c-.345 0-.625-.28-.625-.625V5h11.25v8.125c0 .345-.28.625-.625.625zm.625-10H1.875V1.875c0-.345.28-.625.625-.625h10c.345 0 .625.28.625.625V3.75zm-8.75 6.875v1.25h6.25v-1.25h-6.25zm0-4v2.25h6.25v-2.25h-6.25z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">Knowledge Base</p>
                <p class="navbar-expand-features-description">
                  Promote self-service, build help and FAQ pages
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#DB0D0C"
                    fill-rule="nonzero"
                    d="M3.414 2.77C4.548 1.789 6 1.249 7.5 1.25c3.452 0 6.25 2.798 6.25 6.25 0 1.335-.419 2.572-1.131 3.588L10.625 7.5H12.5c0-2.004-1.196-3.814-3.04-4.6-1.843-.786-3.977-.395-5.423.993L3.414 2.77zm8.172 9.46C10.452 13.211 9 13.751 7.5 13.75c-3.452 0-6.25-2.798-6.25-6.25 0-1.335.419-2.572 1.131-3.587L4.375 7.5H2.5c0 2.004 1.196 3.814 3.04 4.6 1.843.786 3.977.395 5.423-.992l.623 1.121z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">Automation</p>
                <p class="navbar-expand-features-description">
                  Reduce the time spend on repetitive tasks.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#7C5AE0"
                    fill-rule="nonzero"
                    d="M11.875 3.75h-5c-.345 0-.625.28-.625.625V12.5H2.5c-.345 0-.625-.28-.625-.625v-10c0-.345.28-.625.625-.625h8.75c.345 0 .625.28.625.625V3.75zM8.125 5h5c.345 0 .625.28.625.625v7.5c0 .345-.28.625-.625.625h-5c-.345 0-.625-.28-.625-.625v-7.5c0-.345.28-.625.625-.625z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-features-title">
                  Satisfaction Survey
                </p>
                <p class="navbar-expand-features-description">
                  Get Feedback and Improve Customer Experience
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-feature navbar-expand-more-feature">
              <div>
                <p class="navbar-expand-features-more-title">
                  See more features
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="navbar-features-expand-column navbar-features-expand-integrations"
      >
        <div><p class="navbar-features-expand-category">INTEGRATIONS</p></div>
        <div>
          <div class="navbar-expand-feature">
            <img
              src="https://assets.www.happyfox.com/v2/images/site-nav/hf-int-icon.svg"
              alt=""
            />
            <div>
              <p class="navbar-expand-features-title">HappyFox Chat</p>
            </div>
          </div>
        </div>
        <div>
          <div class="navbar-expand-feature">
            <img
              src="https://assets.www.happyfox.com/v2/images/site-nav/salesforce-int-icon.svg"
              alt=""
            />
            <div>
              <p class="navbar-expand-features-title">Salesforce</p>
            </div>
          </div>
        </div>
        <div>
          <div class="navbar-expand-feature">
            <img
              src="https://assets.www.happyfox.com/v2/images/site-nav/aircall-int-icon.svg"
              alt=""
            />
            <div>
              <p class="navbar-expand-features-title">Aircall</p>
            </div>
          </div>
        </div>
        <div>
          <div class="navbar-expand-feature">
            <img
              src="https://assets.www.happyfox.com/logo/ms-teams-logo.svg"
              alt=""
            />
            <div>
              <p class="navbar-expand-features-title">Microsoft Teams</p>
            </div>
          </div>
        </div>
        <div>
          <div class="navbar-expand-feature">
            <img
              src="https://assets.www.happyfox.com/v2/images/site-nav/slack-int-icon.svg"
              alt=""
            />
            <div>
              <p class="navbar-expand-features-title">Slack</p>
            </div>
          </div>
        </div>
        <div>
          <div class="navbar-expand-feature">
            <img
              src="https://assets.www.happyfox.com/v2/images/site-nav/fb-int-icon.svg"
              alt=""
            />
            <div>
              <p class="navbar-expand-features-title">Facebook</p>
            </div>
          </div>
        </div>
        <div>
          <div
            class="navbar-expand-more-feature navbar-expand-integration-more-feature"
          >
            <div>
              <p
                class="navbar-expand-features-title navbar-expand-features-more-title"
              >
                See more Integrations
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-solutions-expand-container">
    <div class="navbar-features-expand-wrapper">
      <div class="navbar-solutions-expand-column">
        <div class="navbar-solutions-sub-column">
          <div>
            <div class="navbar-expand-solution">
              <svg
                width="20"
                height="20"
                viewBox="0 0 13 14"
                class="hf-productnav__feature-icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>Group 9@1x</title>
                <defs>
                  <filter id="filter-1">
                    <feColorMatrix
                      in="SourceGraphic"
                      type="matrix"
                      values="0 0 0 0 0.949020 0 0 0 0 0.647059 0 0 0 0 0.231373 0 0 0 1.000000 0"
                    ></feColorMatrix>
                  </filter>
                  <polygon
                    id="path-2"
                    points="0.0005 0 12.8585 0 12.8585 8.11185 0.0005 8.11185"
                  ></polygon>
                  <polygon
                    id="path-4"
                    points="0.0004 0.1148 12.8584 0.1148 12.8584 5 0.0004 5"
                  ></polygon>
                </defs>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g id="Group-9" filter="url(#filter-1)">
                    <g>
                      <g id="Group-3">
                        <mask id="mask-3" fill="white">
                          <use xlink:href="#path-2"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path
                          d="M6.2595,8.0646 L0.1565,4.3346 C-0.0515,4.2076 -0.0515,3.9046 0.1565,3.7776 L6.2595,0.0476 C6.3635,-0.0164 6.4955,-0.0164 6.5995,0.0476 L12.7025,3.7776 C12.9105,3.9046 12.9105,4.2076 12.7025,4.3346 L6.5995,8.0646 C6.4955,8.1276 6.3635,8.1276 6.2595,8.0646"
                          id="Fill-1"
                          fill="#3A78F5"
                          mask="url(#mask-3)"
                        ></path>
                      </g>
                      <path
                        d="M12.7009,7.2795 L6.5989,11.0085 C6.4949,11.0715 6.3639,11.0715 6.2599,11.0085 L0.1579,7.2795 C-0.0521,7.1505 -0.0521,6.8475 0.1579,6.7225 L1.0629,6.1715 L6.2599,9.3465 C6.3639,9.4105 6.4949,9.4105 6.5989,9.3465 L11.7959,6.1715 L12.7009,6.7225 C12.9109,6.8475 12.9109,7.1505 12.7009,7.2795"
                        id="Fill-4"
                        fill="#3A78F5"
                      ></path>
                      <g
                        id="Group-8"
                        transform="translate(0.000000, 9.000000)"
                      >
                        <mask id="mask-5" fill="white">
                          <use xlink:href="#path-4"></use>
                        </mask>
                        <g id="Clip-7"></g>
                        <path
                          d="M12.7009,1.2238 L6.5989,4.9528 C6.4949,5.0158 6.3639,5.0158 6.2599,4.9528 L0.1579,1.2238 C-0.0521,1.0948 -0.0521,0.7918 0.1579,0.6668 L1.0629,0.1148 L6.2599,3.2908 C6.3639,3.3548 6.4949,3.3548 6.5989,3.2908 L11.7959,0.1148 L12.7009,0.6668 C12.9109,0.7918 12.9109,1.0948 12.7009,1.2238"
                          id="Fill-6"
                          fill="#3A78F5"
                          mask="url(#mask-5)"
                        ></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
              <div>
                <p class="navbar-solutions-expand-category">ASSIST AI FOR</p>
                <p class="navbar-expand-solutions-title">IT</p>
                <p class="navbar-expand-solutions-description">
                  Track, Manage and resolve IT tickets faster.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar-solutions-sub-column">
          <div>
            <div class="navbar-expand-solution">
              <svg
                width="20"
                height="20"
                class="hf-productnav__feature-icon"
                viewBox="0 0 12 14"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>Group@1x</title>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g id="Group" fill="#F2A53B">
                    <circle id="Oval" cx="6" cy="3.5" r="3.5"></circle>
                    <path
                      d="M11.9958615,13.7750617 L12,14 L0,14 C0,10.9402089 2.29038287,8.41536539 5.25022593,8.04639215 L5.25,12 L6.75,12 L6.75077658,8.04651721 C9.63728651,8.40684191 11.8868593,10.8175679 11.9958615,13.7750617 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              <div>
                <p class="navbar-solutions-expand-category">ASSIST AI FOR</p>
                <p class="navbar-expand-solutions-title">HR</p>
                <p class="navbar-expand-solutions-description">
                  Streamline HR and people operations for happy employees.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar-solutions-sub-column">
          <div>
            <div class="navbar-expand-solution">
              <svg
                width="20"
                height="20"
                class="hf-productnav__feature-icon"
                viewBox="0 0 14 15"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>Group@1x</title>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="Group"
                    fill="#F2A53B"
                    transform="translate(0.000000, -0.000405)"
                  >
                    <path
                      d="M10.2658012,5.14200478 L10.2658012,1.40300478 C10.2668,0.630004779 9.6418,0.00200477902 8.8698,-1.95399252e-14 C8.0958,-0.00199522098 7.4688,0.624004779 7.46679521,1.39600478 L7.46679521,1.40300478 L7.46679521,5.14200478 C7.4648,5.91500478 8.0898,6.54300478 8.8628,6.54500598 C9.6358,6.54600478 10.2638,5.92100478 10.2658012,5.14800478 L10.2658012,5.14200478 Z M13.9968012,5.14200478 C13.9968012,4.36900478 13.3698,3.74300478 12.5978,3.74300478 C11.8248,3.74300478 11.1988,4.36900478 11.1988,5.14200478 L11.1988,6.54500478 L12.5978,6.54500478 C13.3708,6.54400478 13.9978,5.91600478 13.9968012,5.14200478 Z"
                      id="Fill-4"
                    ></path>
                    <path
                      d="M5.134,3.74010478 L1.403,3.74010478 C0.628,3.74010478 0,4.36710478 0,5.14210478 C0,5.91610478 0.628,6.54410478 1.402,6.54510478 L5.134,6.54510478 C5.908,6.54510478 6.536,5.91710478 6.536,5.14210478 C6.536,4.36810478 5.908,3.74010478 5.134,3.74010478 M5.134,0.00110477902 C4.36,0.00110477902 3.732,0.629104779 3.73299881,1.40410478 C3.73299881,2.17810478 4.361,2.80410478 5.134,2.80410478 L6.534,2.80410478 L6.534,1.40310478 C6.534,0.630104779 5.908,0.00210477902 5.134,0.00110477902"
                      id="Fill-1"
                    ></path>
                    <path
                      d="M3.73509521,8.88120478 L3.73509521,12.6202048 C3.7331,13.3942048 4.3581,14.0222048 5.1311,14.0242096 C5.9031,14.0262048 6.5321,13.4012048 6.53410479,12.6272048 L6.53410479,12.6212048 L6.53410479,8.88220478 C6.5361,8.11020478 5.9111,7.48120478 5.1381,7.47919999 C4.3651,7.47720478 3.7371,8.10220478 3.73509521,8.87520478 L3.73509521,8.88120478 M0.0031,8.88120478 C0.0031,9.65420478 0.6301,10.2802048 1.4021,10.2802048 C2.1751,10.2802048 2.8021,9.65420478 2.8021,8.88120478 L2.8021,7.47920478 L1.4021,7.47920478 C0.6291,7.48020478 0.0031,8.10820478 0.0031,8.88120478"
                      id="Fill-10"
                    ></path>
                    <path
                      d="M8.8654,10.2836048 L12.5974,10.2836048 C13.3724,10.2836048 14.0004,9.65560478 14.0004,8.88160478 C14.0004,8.10660478 13.3724,7.47860478 12.5974,7.47860478 L8.8664,7.47860478 C8.0924,7.47860478 7.4644,8.10660478 7.4644,8.88160478 C7.4644,9.65560478 8.0924,10.2826048 8.8654,10.2836048 M8.8654,14.0226048 C9.6394,14.0226048 10.2674,13.3946048 10.2664012,12.6206048 C10.2664012,11.8466048 9.6394,11.2196048 8.8654,11.2196048 L7.4664,11.2196048 L7.4664,12.6216048 C7.4664,13.3946048 8.0924,14.0216048 8.8654,14.0226048"
                      id="Fill-7"
                    ></path>
                  </g>
                </g>
              </svg>
              <div>
                <p class="navbar-solutions-expand-category">ASSIST AI FOR</p>
                <p class="navbar-expand-solutions-title">SLACK</p>
                <p class="navbar-expand-solutions-description">
                  Employ AI-powered conversational ticketing in Slack.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-resources-expand-container">
    <div class="navbar-features-expand-wrapper">
      <div class="navbar-resources-expand-column">
        <div><p class="navbar-resources-expand-category">RESOURCES</p></div>
        <div class="navbar-resources-sub-column">
          <div>
            <div class="navbar-expand-resource">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#6C50BA"
                    fill-rule="nonzero"
                    d="M13.125 11.25H3.75c-.345 0-.625.28-.625.625s.28.625.625.625h9.375v1.25H3.75c-1.036 0-1.875-.84-1.875-1.875V2.5c0-.69.56-1.25 1.25-1.25h10v10zM10 5.625v-1.25H5v1.25h5z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-resources-title">E-books & Guides</p>
                <p class="navbar-expand-resources-description">
                  Resources to reinvent your customer service experience
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#E8580A"
                    fill-rule="nonzero"
                    d="M7.5.313l2.641 3.864 4.492 1.318-2.86 3.706.135 4.679L7.5 12.306 3.092 13.88l.134-4.679-2.86-3.706L4.86 4.177 7.5.313zM6.25 7.5H5C5 8.856 6.082 9.965 7.437 10c1.356.033 2.492-1.02 2.56-2.375L10 7.5H8.75c.003.674-.53 1.23-1.203 1.255-.674.025-1.246-.489-1.294-1.161L6.25 7.5z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-resources-title">Customer Stories</p>
                <p class="navbar-expand-resources-description">
                  Thousand of great companies call HappyFox a great friend
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#438AD8"
                    fill-rule="nonzero"
                    d="M7.5 13.75c-3.452 0-6.25-2.798-6.25-6.25S4.048 1.25 7.5 1.25s6.25 2.798 6.25 6.25-2.798 6.25-6.25 6.25zm-.625-4.375v1.25h1.25v-1.25h-1.25zm1.25-1.028c1.038-.313 1.69-1.339 1.534-2.412-.156-1.073-1.075-1.87-2.159-1.872-1.043 0-1.94.735-2.146 1.758l1.227.245c.096-.484.552-.81 1.042-.745.49.064.845.498.812.99-.032.493-.441.876-.935.877-.345 0-.625.28-.625.625v.937h1.25v-.403z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-resources-title">Support Centres</p>
                <p class="navbar-expand-resources-description">
                  What can we help you with? Talk to our customer support
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#1A7DFD"
                    fill-rule="nonzero"
                    d="M4.034 11.875L1.25 14.063V2.5c0-.345.28-.625.625-.625h11.25c.345 0 .625.28.625.625v8.75c0 .345-.28.625-.625.625h-9.09zM8.75 6.406V5H4.375v3.75H8.75V7.344l1.875 1.406V5L8.75 6.406z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-resources-title">Webinars</p>
                <p class="navbar-expand-resources-description">
                  Learn how to make the most of HappyFox products.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#DB0D0C"
                    fill-rule="nonzero"
                    d="M13.464 4.061c.286 1.114.286 3.439.286 3.439s0 2.325-.286 3.439c-.158.615-.623 1.1-1.21 1.264-1.069.297-4.754.297-4.754.297s-3.683 0-4.753-.297c-.59-.167-1.054-.65-1.211-1.264C1.25 9.825 1.25 7.5 1.25 7.5s0-2.325.286-3.439c.158-.615.623-1.1 1.21-1.264C3.817 2.5 7.5 2.5 7.5 2.5s3.685 0 4.753.297c.59.167 1.054.65 1.211 1.264zM6.25 9.688L10 7.5 6.25 5.312v4.375z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-resources-title">Videos</p>
                <p class="navbar-expand-resources-description">
                  Checkout our library of educational videos
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                class="hf-productnav__feature-icon"
                viewBox="0 0 15 15"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0L15 0 15 15 0 15z"></path>
                  <path
                    fill="#7C5AE0"
                    fill-rule="nonzero"
                    d="M12.5 1.25c.345 0 .625.28.625.625v2.348L7.501 9.848l-.004 2.649 2.654.004 2.974-2.975v3.599c0 .345-.28.625-.625.625h-10c-.345 0-.625-.28-.625-.625V1.875c0-.345.28-.625.625-.625h10zm1.111 4.255l.884.884-4.861 4.861-.885-.001.001-.883 4.861-4.861zM7.5 7.5H4.375v1.25H7.5V7.5zM9.375 5h-5v1.25h5V5z"
                  ></path>
                </g>
              </svg>
              <div>
                <p class="navbar-expand-resources-title">Blog</p>
                <p class="navbar-expand-resources-description">
                  Learn tips, stories, and new techniques
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="navbar-resources-expand-column navbar-resources-expand-integrations"
      >
        <div>
          <div>
            <p class="navbar-resources-expand-category">FEATURED</p>
          </div>
          <div>
            <div class="navbar-expand-resource-featured">
              <img
                src="//assets.www.happyfox.com/assist-ai/images/team-webinar-thumb.png"
                alt="Integrate Microsoft Teams and HappyFox Help Desk to Enhance your Customer Support"
                class="hf-productnav__slider-icon"
              />
              <div class="navbar-expand-resources-featured-content">
                <!-- <p class="navbar-expand-resources-featured-title">WEBINAR</p> -->
                <p class="navbar-expand-resources-featured-description">
                  Integrate Microsoft Teams and HappyFox Help Desk to Enhance
                  your Customer Support
                </p>
                <a class="navbar-expand-resources-featured-cta">Read more</a>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource-featured">
              <img
                src="//assets.www.happyfox.com/assist-ai/images/blog-screen.png"
                alt="right arrow"
                class="hf-productnav__slider-icon"
              />
              <div class="navbar-expand-resources-featured-content">
                <p class="navbar-expand-resources-featured-title">BLOG</p>
                <p class="navbar-expand-resources-featured-description">
                  Why Does Your IT Support Need A Chatbot?
                </p>
                <a class="navbar-expand-resources-featured-cta">Read more</a>
              </div>
            </div>
          </div>
          <div>
            <div class="navbar-expand-resource-featured">
              <img
                src="//assets.www.happyfox.com/v2/images/site-nav/9-chatbot.svg"
                alt="right arrow"
                class="hf-productnav__slider-icon"
              />
              <div class="navbar-expand-resources-featured-content">
                <p class="navbar-expand-resources-featured-title">BLOG</p>
                <p class="navbar-expand-resources-featured-description">
                  9 Steps to Managing IT Support Challenges During a Pandemic
                </p>
                <a class="navbar-expand-resources-featured-cta">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>