.experience-responsive-wrapper {
  background-color: #fff;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.experience-container {
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}

.experience-item {
  width: 48%;
}

.experience-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
}

.experience-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.127 !important;
  letter-spacing: 1px;
}

.experience-question {
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.experience-answer {
  margin-top: 10px;
  color: #555555;
  font-size: 16px;
  font-weight: 300;
}

.responsive-img {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 992px) {
  .experience-container {
    padding: 120px 0;
    flex-direction: column;
  }

  .experience-item {
    width: 100%;
  }

  .experience-item:nth-child(2) {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .experience-container {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .experience-title {
    font-size: 32px;
  }
}
